<div id="container">
  <div>
    <button class="btn btn-primary">
      <a routerLink="card-pokemon" (click)="onMostraCardPokemon()">Crea la tua squadra</a>
    </button>
  </div>
  <div>
    <button id="button-rooster" class="btn btn-secondary">
      <a routerLink="rooster" (click)="onMostraRooster()">Rooster</a></button>
  </div>
  <div>
    <button id="button-logout"><a (click)="logOut()">Log Out</a></button>
  </div>
</div>
<h1>Benvenuto {{user}}</h1>

<app-card-pokemon *ngIf="mostraCard"></app-card-pokemon>
<app-rooster *ngIf="mostraRooster"></app-rooster>

